<div>
    <h1>404h</h1>
    <p>Not found</p>
</div>

{% schema %}
    {
        "name": "Not found",
        "presets": [
            {
                "name": "Feautered Product"
            }
        ]
    }
{% endschema %}